/* main colours */
/* blue #3a5d83; */
/* violet #bd70ef; */




html,
body {
  margin: 0;
  font-size: calc(16px+1vw);
  font-family: 'Montserrat', sans-serif;
}

#animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  /*  background image with white overlay */
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgb(255, 255, 255)), url('../assets/landing.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  z-index: 1000;
}

header h3 {
  text-align: center;
  margin: 0;
  color: #3a5d83;
}

#logo {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#logo img {
  width: 250px;
}

main {
  padding: 10px;
}

#main-wrapper {
  width: 100%;
  margin: auto;
}

#description {
  margin: auto;
}

/* poses */
#poses {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.illustration img {
  width: 100%;
  background-color: #ebebeb;
  min-width: 100px;
}

.sanskrit {
  font-size: 12px
}

.pose .category {
  font-size: 12px;
  color: #7e7e7e;
}

/* categories */

.pose {
  display: none;
}

/* plan */
#plan {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  background-color: #fff;
  padding: 2%;
  overflow-y: scroll;
  height: 100vh;
  width: 96vw;
  box-shadow: 1px 1px 15px #323232;
}

#plan-nav {
  font-size: 22px;
  display: flex;
  align-items: center;
  color: #bd70ef;
}

#plan-nav div {
  margin-right: 5px;
}

#plan-advice {
  display: flex;
  align-items: center;
  /* padding: 0 15px; */
}

#plan-tips {
  font-size: 14px;
}

#selected-poses {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#plan .del-btn {
  display:none;
}

/* class for arranging poses */
.taphold {
  background-color: #bd70ef;
  cursor:grab;
  
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    background-color: #bd70ef;
  }
  50% {
    background-color: #bc70ef85;
  }
  100% {
    background-color: #bd70ef;
  }
}
#poses div {
  padding: 5px;
}

.formatting div {
  padding: 5px;
}

.pose,
.counter-pose {
  margin: 3px;
  background-color: #f7f7f7;
  border-radius: 10px;
  position: relative;
}

.pose .english,
.counter-pose .english {
  color: #3a5d83;
}

/* buttons */
.editable {

  background-color: #ffffff;
  animation: edit 1s infinite;
}

@keyframes edit {
  0% {
    background-color: #bc70ef4b;
  }
  50% {
    background-color: #fff;
  }
  100% {
    background-color: #bc70ef4b;
  }
}

#save-btn { 
  display:  none;
}


.counter-pose-icon {
  float: left;
}

.icon {
  height: 40px;
}

.btn {
  cursor: pointer;
}

.counter-btn {
  color: #bd70ef;
  display: flex;
  align-items: center;
  padding: 5px;
}


#gridview-btn {
  display: none;
}

.add-btn {
  color: #bd70ef;
}

.pose>.add-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px;
  font-size: 20px;
}

.del-btn {
  position: absolute;
  top: 5px;
  right: 5px;
}

#plan-btn {
  font-size: 20px;
  border: 1px solid#bd70ef;
  border-radius: 5px;
  padding: 10px;
  color: white;
  width: 100%;
  background: #bd70ef;

}

#plan-btn img {
  padding: 0 0 0 5px;
}

#close-plan-btn {
  position: absolute;
  top: 15px;
  right: 15px;
}

.counter-wrapper {
  display: none;
  border: 1px dashed grey;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.topose-btn {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-color: #3a5d83;
  border-radius: 30px;
  margin: 5px;
}

.button-on {
  background-color: #bd70ef;
}

/* Slideshow */
.gallery {
  display: block !important;
  overflow-y: hidden;
  width: 100%;
  top: 200px;
  margin:0 !important;
}

.gallery .chosen {
  margin: 0 !important;
  padding: 10px;
}

/* category filter  */
#filter {
  margin: 25px 0 10px 0;
}

#filter div {

  padding-bottom: 5px;
}

#filter button {
  margin: 0 5px 10px 0;
}

.filter-btn {
  padding: 10px;
  font-size: 20px;
  border: 1px dashed #3a5d83;
  border-radius: 5px;
  min-width: 50px;
}

.filter-on {
  opacity: 1;
  text-decoration: none;
  color: #fff;
  background-color: #3a5d83;

}

.filter-off {
  opacity: .3;
  /* text-decoration: line-through; */
  color: #3a5d83;
}



#blurry-bg {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 50;
  opacity: .5;
  background-color: rgb(228, 228, 228);
}

.blur {
  filter: blur(5px);
  animation: blur 1s none;
  -webkit-animation: blur 1s none;

}

@keyframes blur {
  0% {
    -webkit-filter: blur(0px);
  }

  100% {
    -webkit-filter: blur(5px);
  }
}

/* media queries breakpoints */
@media (width <=600px) {

  #poses,
  #selected-poses {
    grid-template-columns: 1fr 1fr;
  }

}

@media (600px < width <=960px) {
  #main-wrapper {
    width: 70%;
  }

  #poses,
  #selected-poses {
    grid-template-columns: 1fr 1fr;
  }

  #plan {
    width: 70%;
  }

  /* body {background-color: rgb(250, 89, 89);} */
}

@media (960px < width <=1264px) {
  #animation {
    background-position: center center;
  }

  #main-wrapper {
    width: 70%;
  }

  #poses,
  #selected-poses {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #plan {
    width: 50%;
  }

  /* body {background-color: rgb(136, 136, 253);} */
}

@media (1264px < width <=1904px) {
  #animation {
    background-position: center center;
  }

  #main-wrapper {
    width: 50%;
  }

  #plan {
    width: 40%;
  }

  #poses,
  #selected-poses {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* body {background-color: rgb(137, 255, 137);} */
}

@media (1904px < width) {
  #animation {
    background-position: center center;
  }

  #main-wrapper {
    width: 50%;
  }

  #selected-poses {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #plan {
    width: 40%;
  }

  /* body {
    background-color: rgb(255, 215, 141);
  } */
}